.demo {
  position: relative;
  width: 500px;
  height: 300px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#000, 0.5);
}

.inner {
  padding: 8px;
  background: #fff;
  border: 1px solid #000;
}
