:host {
  font-family: monospace;
  max-width: 960px;
  margin: 15px auto;
  display: block;
}
.area {
  border: 1px solid #000;
  margin: 15px 0;
}
.area:after {
  content: '';
  display: block;
}
.area.arc--selected {
  border-color: #f00;
}
.box-wrapper {
  width: 100px;
  display: inline-block;
}
.box {
  margin: 15px;
  background: #000;
  color: #fff;
}
.box:focus {
  background: #f00;
}
.square {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 15px;
  background: #000;
  color: #fff;
}
.square:focus {
  background: #f00;
}
form {
  display: flex;
  margin: 15px;
  align-content: center;
}
form div {
  margin-right: 5px;
}
input,
button,
textarea {
  border: 1px solid #000;
  padding: 5px 8px;
  border-radius: 0;
  box-shadow: 0;
  outline: 0 !important;
}
input:focus,
button:focus,
textarea:focus {
  border-color: #f00;
}
.scroll-restriction {
  overflow: auto;
  height: 100px;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 15px;
  background: #fff;
}

.dialog button {
  display: inline-block;
  margin: 5px;
}
