$font-prefix: '../node_modules/@ibm/plex/';

@import '../node_modules/@ibm/plex/scss/mono/regular/latin1';
@import '../node_modules/@ibm/plex/scss/mono/bold/latin1';
@import '../node_modules/@ibm/plex/scss/serif/semibold/latin1';
@import '../node_modules/@ibm/plex/scss/sans/regular/latin1';

:root {
  --font-family-sans: 'IBM Plex Sans', sans-serif;
  --font-family-serif: 'IBM Plex Serif', serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
  font-weight: normal;
  margin: 3rem 0 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

pre, code {
  font-family: var(--font-family-mono);
}
